.layout {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
}

Header {
    text-align: center;
    height: 64px;
    padding-inline: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
}

.content {
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: hidden;
    /* min-height: 600px; */
    height: 90%;
}

Footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    z-index: 5;
}