.layout {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

Header {
    text-align: center;
    height: 64px;
    padding-inline: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    /* border-bottom: 2px solid #6f0808; */
}

.content {
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    overflow: hidden;
    min-height: 600px;
}

Footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}